In [49]:
import requests
import re
import pandas as pd
import numpy as np 
import json
import pandas as pd
import googlemaps
from itertools import tee
import geopandas
import geopy
from datetime import datetime, date, time, timedelta

In [65]:
gmaps = googlemaps.Client(key='INSERT THE API KEY')

In [80]:
def converting(duration):
    matches = re.findall(r'(\d+)\s*day', duration)
    days = int(matches[0]) if matches else 0
    matches = re.findall(r'(\d+)\s*hour', duration)
    hours = int(matches[0]) if matches else 0
    matches = re.findall(r'(\d+)\s*min', duration)
    minutes = int(matches[0]) if matches else 0

    total_minutes = days * 24 * 60 + hours * 60 + minutes
    hours = total_minutes // 60
    minutes = total_minutes % 60

    return f"{hours} hours {minutes:02d} minutes"

In [81]:
info_lst = []
cities = open('C:\\Users\\rotes\\Desktop\\dests.txt')
for city in cities:
    city = city.rstrip()
    dest = gmaps.distance_matrix(city,'tel aviv')['rows'][0]['elements'][0]
    distance = dest['distance']['text']
    duration = dest['duration']['text']
    geo_coord = gmaps.geocode(city)
    lng = geo_coord[0]['geometry']['location']['lng']
    lat = geo_coord[0]['geometry']['location']['lat']
    duration_format = converting(duration)
    info_lst.append((city,distance,duration_format,lng,lat))

In [82]:
data = pd.DataFrame(info_lst)
data = data.rename(columns={0: "Target", 1: "Distance", 2: "Duration",3: "Longtitude", 4: "Latitude"})
data

      Target  Distance             Duration  Longtitude   Latitude
0   Istanbul  1,814 km  20 hours 54 minutes   28.978359  41.008238
1  Amsterdam  4,536 km  48 hours 00 minutes    4.904139  52.367573
2   Valletta  3,795 km  51 hours 00 minutes   14.514100  35.899237
3      Basel  4,095 km  44 hours 00 minutes    7.588576  47.559599
4       Doha  2,167 km  22 hours 44 minutes   51.531040  25.285447

In [83]:
data_furthest = data.sort_values("Distance", ascending=False).head(3)
data_furthest

      Target  Distance             Duration  Longtitude   Latitude
1  Amsterdam  4,536 km  48 hours 00 minutes    4.904139  52.367573
3      Basel  4,095 km  44 hours 00 minutes    7.588576  47.559599
2   Valletta  3,795 km  51 hours 00 minutes   14.514100  35.899237