In [1]:
import requests
import pandas as pd
import numpy as np 
import json
import pandas as pd
import googlemaps
from itertools import tee
import geopandas
import geopy

In [2]:
gmaps = googlemaps.Client(key='AIzaSyBQISl-zvqBHv3B_SjHtrqV6Wdp412cq7Y')

In [4]:
info_lst = []
cities = open('C:\\Users\\rotes\\Desktop\\dests.txt')
for city in cities:
    city = city.rstrip()
    dest = gmaps.distance_matrix(city,'tel aviv')['rows'][0]['elements'][0]
    distance = dest['distance']['text']
    duration = dest['duration']['text']
    geo_coord = gmaps.geocode(city)
    lng = geo_coord[0]['geometry']['location']['lng']
    lat = geo_coord[0]['geometry']['location']['lat']
    info_lst.append((city,distance,duration,lng,lat))

In [5]:
data = pd.DataFrame(info_lst)
data = data.rename(columns={0: "Target", 1: "Distance", 2: "Duration",3: "Longtitude", 4: "Latitude"})
data

      Target  Distance          Duration  Longtitude   Latitude
0   Istanbul  1,814 km  20 hours 54 mins   28.978359  41.008238
1  Amsterdam  4,536 km    2 days 0 hours    4.904139  52.367573
2   Valletta  3,795 km    2 days 3 hours   14.514100  35.899237
3      Basel  4,095 km    1 day 20 hours    7.588576  47.559599
4       Doha  2,167 km  22 hours 44 mins   51.531040  25.285447

In [6]:
data_furthest = data.sort_values("Distance", ascending=False).head(3)
data_furthest

      Target  Distance        Duration  Longtitude   Latitude
1  Amsterdam  4,536 km  2 days 0 hours    4.904139  52.367573
3      Basel  4,095 km  1 day 20 hours    7.588576  47.559599
2   Valletta  3,795 km  2 days 3 hours   14.514100  35.899237